:root {
  --darkblue: #061130;
  --lightblue: #1C4BC4;
  --light1: #F4F6F8;
  --light2: #FAFD61;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  background-color: var(--darkblue);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--light1);
}

footer {
  background-color: var(--light1);
  color: var(--darkblue);
  text-align: center;
  padding: 30px;
}

nav {
  display: flex;
  align-items: center;
}

nav > p {
  padding: 0 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 0;
  font-size: 2em;
}

.chat {
  background-color: var(--lightblue);
  border-radius: 8px;
  padding: 8px 10px;
  margin: 0 0 0 10px;
}

.hero {
  display: flex;
  color: var(--light1);
  justify-content: center;
}

.text {
  margin: 20px 0px 100px 140px;
  padding: 20px;
}

.world-image-container {
  margin: 20px 140px 100px 0px;
  padding: 20px;
}

.services {
  color: var(--light2);
}

.links {
  display: flex;
  background-color: white;
  justify-content: space-around;
  padding: 20px;
}

.inspiration {
  margin-bottom: 0;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 1.5em;
  }

  .text {
    margin: 20px;
    padding: 30px;
  }
  
  .world-image-container {
    margin: 20px;
    padding: 30px;
  }
}

@media (max-width: 1000px) {
  .text {
    margin: 10px;
    padding: 20px;
  }
  
  .world-image-container {
    margin: 10px;
    padding: 20px;
  }

  .world-image {
    width: 400px;
  }
}

@media (max-width: 800px) {
  header {
    justify-content: center;
  }

  .hero {
    display: block;
  }

  .text {
    margin: 0px;
    padding: 20px;
  }
  
  .world-image-container {
    margin: 0px;
    padding: 20px;
  }
  
  .world-image {
    max-width: 100%;
  }

  .links {
    display: block;
  }
}
